nav{
	border: 1px;
	padding: 6px;
	text-align: right;
}

body{
	background-image: url(/Pictures/Background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
a{
	text-decoration: none;
	color:black;
	font-size: 20px;
}

.avatar{
	vertical-align: middle;
	width: auto;
	height: auto;
}

.avatar1{
	vertical-align: middle;
	width: 200px;
	height: 200px;
}

#container{
		padding: 50px;
		display: flex;
		justify-content: space-evenly;
}

#box{
	width: 50%;
}

#box1{
	display: flex;
	justify-content: center;
	width: 75%;
	height: 280px;
	padding: 20px;
	top: 50%;
	left: 50%;
}

#containerCert{
	padding: 10px;
	display: flex;
}

#middleboxCert ul{
	width: 50%;
	display: flex;
	padding: 10px;
}

#containerProject{
	padding: 10px;
	display: flex;
}

#Contact{
	padding: 50px;
	display: flex;
	justify-content: center;
}

#middleboxContact {
	width: 50%;
	height: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#middleboxProject{
	width: 40%;
}

#leftboxContact {
	width: 50%;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
#leftboxContact a{
	height: 40px;
	display: flex;
	align-items: center;
}

.Button {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.Button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.Button:active {
	position:relative;
	top:1px;
}

.Buttons{
	background-image: url(Pictures/Linkedin.png);
	width: 200px;
	height: 200px;
}

#form{
	flex-direction: column;
	align-items: center;
}

@media (max-width: 900px) {
	#container,#containerCert,#containerProject,#ProjectP,#middleboxContact,#leftboxContact,#contact,#box,#Contact{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		padding: 10px;
	}
	.avatar{
	 	width: 100%;
	 	height: auto;
	}

	.ProjectP,#middleboxProject,#box1{
		text-align: center;
		padding: 50px;
	}

	#box1,#middleboxProject{
		height: unset;
		width: unset;
		padding: 10px;
	}

	#containerProject{
		padding: 10px;
	}

	#leftboxProject{
		width: 100%;
	}

	#ProjectP{
		width: unset;
	}

	#middleboxContact{
		display: block;
		height: unset;
	}
}